.idea

.gradle

buildSrc/build
buildSrc/.gradle

common/.gradle
common/build

paper/.gradle
paper/build
paper/run

fabric/.gradle
fabric/build
fabric/run

velocity/.gradle
velocity/build
velocity/run

api/.gradle
api/build